*{
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    font-weight: 700;
    
}
body{
    font-family: sans-serif;
    background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.8)),url("netflix-img/images/header-image.png"); 
    position: relative;
}
.logo{
    display: flex;
    
}

.logo img{

    height: 40px;
    margin: 20px 60px;
    padding-left: 70px;
}
.side{
    position: absolute;
    right: 8%;
    top: -10px;

    
}
.side a{
    font-size: 16px;
}
.side button{
    width: 80px;
    border-radius: 8px;
    height: 2%;
    padding: 7px;
    border: 1px solid red;    
}
h1{
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size:46px;
    margin-top: 10%;
    
}
h2,p{
    color: white;
    text-align: center;
    justify-content: center;
    padding: 15px;
    font-size:24px;
}
p{
    font-size: 16px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
input{
    height: 30px;
    width: 25%;
    margin: 40px;
    align-items: center;
    justify-items: center;
    opacity: 0.8;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    
}

button{
    height: 52px;
    width: 15%;
    opacity: 0.9;
    background-color: red;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: 1px solid red;

}
button a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width: 600px) {
     *{
        
        font-weight: 800;
     }
     h1{
        font-size: 1.2rem;
     }
     h2{
        font-size: 0.6rem !important;
     }
     p{
        font-size: 0.4rem;
     }
     input{
        width: 100% ;
     }
     .input button{
        position: absolute;
        top: 100%;  
        width: 40%; 
     }

     
  }
